

/* 
 * default page settings;
 */

body, html {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100%;
    overflow-x: hidden;
}

#page {
    background-color: #FFF;
}

/*
 * timer settings
 */

#timer-container {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 150px;
}


/*
 * media queries
 *
 *
 */


/* Custom, iPhone Retina */ 
@media only screen 
    and (min-width : 320px) 
    and (orientation: portrait) {
    #header {
        padding: 0px;
        margin:0px;
        background: url('../imgs/rio_me_background_portrait_2.png') no-repeat 
                    center fixed;
        background-size: 100% 100%;
        min-height: 520px;
    }
    
    textarea {
        width: 10em;
        height: 10em;
    }
    input {
        width:120px;
    }

}

@media only screen 
    and (min-width : 320px) 
    and (orientation: landscape) {
    #header {
        padding: 0px;
        margin:0px;
        background: url('../imgs/rio_me_background.png') no-repeat 
                    center fixed;
        background-size: 100% 100%;
        min-height: 300px;
    }
    textarea {
        width: 15em;
        height: 10em;
    }
    input {
        width: 12em;
    }
    
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #header {
        padding: 0px;
        margin:0px;
        background: url('../imgs/rio_me_background.png') no-repeat center fixed;
        background-size: 100% 100%;
        min-height: 650px;
    }
    input {
        width: 10em;
    }
    #contact-info {
        border-right: 1px solid #2F2F2F;
    }
    textarea {
        width: 22em;
        height: 7em;
    }

}

/* Large Devices, Wide
* Screens */
@media only screen and (min-width : 1200px) {
    
}

/*
 * navbar-fixed stuff
 *
 */
#artists-navbar, .fixed-navbar, .navbar, .navbar-fixed-top {
    background: url('../imgs/rio_me_background_nav_1.png') no-repeat 
                center center fixed;
    background-size:  auto auto;
    height: 70px !important;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 70px;
    vertical-align: middle;
}

.navbar, .navbar-fixed-top {
    background-size: auto auto;
    padding: 0 !important;
    margin: 0 !important;
    /*
    position: absolute;
    min-width: auto !important;
    width: 100% !important;
    position: fixed !important;
    */
}




.navbar-title {
    padding: 0%;
    margin: 0%;
    margin-left: 2%;
}

.fixed-navbar-padding {
    margin-top: 70px;

}

.fixed-navbar h1 {
    position: relative;
    display: inline-block;
    /*
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    */
    margin-right: 5%;
}


/* 
 * inputs
 */

input, textarea {
    border: 2px solid #292929;
    resize: none;
}

input {
    margin-bottom: 10%;
}


/* 
 * buttons settings
 */

.vote-btn, .send-btn {
    display: block;
    margin: auto;
	margin-top: 3%;
    background-color: #C3C3C3;
	max-width: 150px;
	height: 30px;
	cursor: pointer;
	border: 2px solid #292929;
    text-align: center;
}

.vote-btn:hover, .send-btn:hover {
	background-color: #93AF93;
}

.vote-btn:active, .send-btn:active {
	background-color: #568856;
	color: #395939;
}

.vote-text, .send-text {
    color: #292929;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.fb-like {
    margin-top: 3%;
    margin-bottom: 3%;
    max-width: 100px;
}



/* 
 * rows and columns
 */

.row-centered {
    text-align: center;
    vertical-align: middle;
}


.col-outline {
    display:inline block;
	outline: 2px solid #292929;
    margin-bottom: 5%;
    vertical-align: middle;
    text-align: center;
}



/*
 * contents
 */

.shirt-img {
    display: block;
	width: 250px;
	height: 250px;
    margin: auto;
}

#about-container h1 {
    color: #292929;
    padding-top: 5%;
    padding-bottom: 5%;
}

#artists-container {
    padding-top: 5%;
}

.content {
    padding-bottom: 5%;
}

.col-title {
	color: #93AF93;
}

.shirt-title {
    margin-bottom: 5%;
    margin-top: 5%;
}

.content-text {
    color: black;
	text-align: justify;
	text-justify: inter-word;
}

#copyright {
    font-size: 14px;
}

hr {
    border-color: #2F2F2F;
}

#footer-info {
    margin-top: 2%;
}

#contact {
    background-color: #292929;
    padding-top: 5%;
}


