html body {
/*    overflow: hidden;
*/
}

#fb-root {
    position: absolute;
}


#header {
	padding: 0px;
	margin:0px;
}

p {
	text-align: justify;
	text-justify: inter-word;
	color: #fff;
}

.content-container, .footer {
	padding-right: 10em;
	padding-left: 10em;
	padding-bottom: 5em;
	width:100%;
	background-color: #FFF;
	/*margin-left:4em;
	margin-right: 4em; */
}

#header {
	background: url('../imgs/rio_me_background.png') no-repeat center fixed;
	background-size: 100% 100%;
	min-height: 607px;
}


.fixed-navbar	 {
	background: url('../imgs/rio\ me\ header.jpg') no-repeat center fixed;
	background-size:  cover;
	height: 120px;
}

/*
.content-container h1 {
		color: black;
}*/

.footer {
	/*background-color:  #fff; */
}

.col-shirt {
	outline: 2px solid #292929;
	padding: 5px;
}

.vote-btn {
	margin-top: 10px;
    background-color: #C3C3C3;
/*	background-color: #dc7075; */
	max-width: 100px;
	height: 30px;
	cursor: pointer;
	border: 2px solid #292929;
    text-align: center;
    vertical-align: middle;
}

.vote-btn:hover{
	background-color: #93AF93;
}

.vote-btn:active {
	background-color: #568856;
	color: #395939;
}

.vote-text {
    color: #292929;
    text-align: middle;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
}

.artist-name {
	max-width: 200px;
}

img {
	width: 200px;
	height: 200px;
}


.col-3 {
	padding-bottom: 10px;
	outline: 2px solid #292929;
}

.row {
	display: block;
	margin: 0 auto;
}

.shirts-row {
	margin-top: 80px;
}

#about-container h1 {
    color: #292929;
}

.title, .shirt-title {
	color: #93AF93;
}

.shirt-title {
    margin-bottom: 0.4em;
}

p {
    color: black;
}

.page_header {
	padding: 0;
	margin: 0;
}

.fixed-navbar-padding {
	margin-top: 120px;
}
