body, html {
	/*background-color: #fff;
	background: url('../imgs/rio_me_panel_2_black.jpg') no-repeat center fixed;
	background-size:  cover;
*/}

#header {
	background: url('../imgs/rio_me_panel.jpg') no-repeat center; /* fixed */
	background-size:  cover;
	min-height:  30em;
}

#timer {
	position: relative;
	bottom:  -15em;
*/
}

p {
	text-align: justify;
	text-justify: inter-word;
	color: #fff;
}

.content-container, .thumbnails, .footer {
	padding-right: 10em;
	padding-left: 10em; 
	width:100%;
	/*margin-left:4em;
	margin-right: 4em; */
}

#about-container {
	padding-bottom:5em;
	padding-top: 2.5em;
}
/*
.content-container h1 {
		color: black;
}*/

.footer {
	background-color:  #292929; 
}

.thumbnails {
	text-align: center;
	background-color:  #292929;
}

.thumbnails li {
	/*width: 10em;
	height: 10em; */
	margin:1em;
	float: none;
	display: inline-block;
	*display: inline;
	zoom: 1;
	/*background-color:  #F46666; */
	
}

.li_color {
	background: #dc7075;
}

img {
	width: 200px;
	height: 200px;
}

/*
.col-md-3 {
	background-color: #fff;
	padding: 0.25em;
	margin: 0.5em;
	vertical-align:  center;
}
*/
#about_container, #artists_container, .thumbnails {
	padding-bottom: 2.5em;
	/*margin-top:  700px;*/
}

#about_container {
	background-color:  #FFF;
}

#about_container h1, p {
	color: #292929;
}

.page_header {
	color: #292929;
}

#artists_container {
	background-color: #dc7075;
}

#page_content {
	background-color: #292929;
}
/*
#timer {
	padding-bottom:  12em;
}

#rio_me_panel {
	background: url('../imgs/rio_me_panel.jpg') no-repeat center fixed;
	background-size:  cover;
}*/